[phases.setup]
nixPkgs = ["nodejs_25", "yarn"]

[phases.setup.nixPkgsArchive]
archive = "9957cd48326fe8dbd52fdc50dd2502307f188b0e"

[phases.install]
cmds = [
  "yarn install --frozen-lockfile"
]

[phases.build]
cmds = [
  "yarn workspace server-app run prisma:generate",
  "yarn workspace server-app run prisma:migrate:prod",
  "yarn workspace server-app run build"
]

[start]
cmd = "yarn workspace server-app run start:prod"